* {
  overflow-x: hidden;
  //border: 1px solid red;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./img/background2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  
}

.hero-main { 
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero-second { 
  font-size: 18px;
  color: #E5E7EB;
}

header {
  display: flex;
  flex: 1;
  justify-content: space-between;
  background-color: rgba(0, 66, 75, 0.9);
  max-height: 5em;
}

.logo {
  display: flex;
  flex: 1;
  overflow-y: hidden;
  max-width: 25%;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
}

nav {
  display: flex;
  flex-basis: 20em;
  align-items: center;
  width: 30%;
}

ul {
  display: flex;
  flex: 1;
  justify-content: space-around;
}


li img {
  max-width: 1.5em;
  vertical-align: middle;
  margin-right: 10px;
}

.first-left button {
	margin-top: 4px;
	
}

.first-strip {
  display: flex;
  flex: 1;
  max-height: 30em;
  width: auto;
  margin: 8em 1em 12em 1em;
  padding: 2em;
  background-color: rgba(100,100,200,0.9);
  border-radius: 1em;
}

.first-right {
  padding: 24px;
  overflow-y: hidden;
}
.first-right img{
  max-width: 100%;
}


.second-strip {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 20em;
  align-items: center;
  padding: 24px;
  margin: 4em 1em 12em 1em;
  background-color: rgba(160, 100, 200, 0.9);
  border-radius: 1em;
}

.img-strip {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  margin-top: 1em;
  justify-content: space-evenly;
  text-align: center;
  min-width: 100%;
}

.img-strip figure img {
  max-height: 12em;
}

.third-strip {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: 4em 1em 12em 1em;
  background-color: rgba(100,100,200,0.9);
  border-radius: 1em;
}

.quote-third {
  max-width: 60%;
  padding: 2em;
}


.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1F2937;
}

.cite {
  text-align: right;
}

.fourth-strip {
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 4em 1em 12em 1em;
  background-color: rgba(160, 100, 200, 0.9);
  border-radius: 1em;
}

 .fourth-strip > article {
  display: flex;
  padding: 2em;
  align-items: center;
  gap: 1em;
  margin: 2em;
  border-radius: 1em;
} 

.text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 4em;
  width: 100%;
  background-color: rgb(0, 66, 75);
}

button {
  font-size: 18px;
  background-color: rgba(66, 66, 228,1);
  padding: 6px;
  border: 1px solid rgba(66, 66, 228,1);
  border-radius: 8px;
}

button:hover {
  background-color: blue;
  color: white;
}

li:hover {
  filter: invert(0.1);
}

.img-strip figure img:hover {
  transform: scale(1.1);
}


@media only screen and (max-width: 800px) {
    .first-strip {
      flex-wrap: wrap
    }
    .first-strip, .second-strip, .third-strip, .fourth-strip {
      margin: 2em;
    }

    * {
      font-size: 14px;
    }

    .quote {
      font-size: 14px;
    }

  }
